/* styles.css */

/* Stili generali */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 80px; /* Dimensione predefinita del logo */
    margin-right: 15px;
}

.site-title {
    font-size: 1.8em;
}

/* Stili per dispositivi mobili */
@media (max-width: 768px) {
    .logo-title {
        justify-content: center;
        flex-direction: column; /* Imposta l'orientamento su colonna per mobile */
    }

    .logo-image {
        width: 100px; /* Aumenta la dimensione del logo su mobile */
        margin: 0; /* Rimuove i margini per centrare il logo */
    }

    .site-title {
        display: none; /* Nasconde il titolo su dispositivi mobili */
    }
}
