body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* Stile per i link generici */
a {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #3498db;
}

/* Stile specifico per il pulsante di Airbnb */
.airbnb-button {
    background-color: #FF5A5F; /* Colore rosso di Airbnb */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
}

.airbnb-button:hover {
    background-color: #E2474B; /* Colore rosso scuro per l'effetto hover */
}
