/* =========================
      BODY STYLES
   ========================= */
body {
    margin-top: 80px; /* Modifica questo valore in base all'altezza effettiva del tuo header */
    font-family: 'Nunito', sans-serif; /* Apply Nunito font */
}

/* =========================
   HEADER & LOGO STYLES
   ========================= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuisce il logo e il titolo correttamente */
    background-color: #ffffff;
    padding: 5px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; /* Posiziona l'header in cima alla pagina */
    width: 100%; /* Assicura che l'header occupi tutta la larghezza */
    z-index: 1000; /* Assicura che l'header sia sempre sopra gli altri elementi della pagina */
      position: relative;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantiene il logo a sinistra */
}

.logo-image {
    max-width: 170px; /* Dimensione massima del logo */
    height: auto;
    margin-right: 15px; /* Spazio tra il logo e il titolo */
}

.site-title {
    font-size: 1.8rem; /* Regola la dimensione del titolo per renderlo ben visibile */
    color: #2c3e50;
    margin: 0 auto; /* Utilizza margini automatici per centrare il titolo */
    text-align: center; /* Allinea il testo del titolo al centro */
    flex: 1; /* Fa sì che il titolo occupi lo spazio disponibile per centrarlo */
    font-family: 'Nunito', sans-serif; /* Ensure the title uses Nunito */
}

.home-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    .site-title {
        display: none; /* Nasconde il titolo sui dispositivi mobili per salvare spazio */
    }

    .header {
        display: flex;
        justify-content: center; /* Centra tutto il contenuto all'interno dell'header */
    }

    .logo-title {
        display: flex;
        justify-content: center; /* Centra il logo su mobile */
        flex: initial; /* Rimuove il comportamento flex precedente */
        margin: 0 auto; /* Assicura che il logo si posizioni al centro */
    }
}

/* =========================
   BURGER MENU STYLES
   ========================= */
.burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute; /* Imposta la posizione del burger menu */
    right: 50px; /* Posiziona il menu a 50px dal bordo destro */
    top: 50px; /* Posiziona il menu a 50px dall'alto */
    z-index: 1001;
}

@media (max-width: 768px) {
    .burger-menu {
        top: 20px; /* Adjusts the vertical position of the burger menu */
        right: 20px; /* Adjusts the horizontal position of the burger menu */
    }
}

.burger-menu .line {
    width: 37px;
    height: 2px;
    background-color: #2c3e50;
    margin: 3px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Apri e chiudi BURGERMENU */
.menu-toggle:checked + .burger-menu .line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 6px);
}

.menu-toggle:checked + .burger-menu .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .burger-menu .line:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -5px);
}

/* Hide menu checkbox */
.menu-toggle {
    display: none;
}

/* =========================
   NAV MENU STYLES
   ========================= */
.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 12px;
    background-color: #fafafa; /* Sfondo del menu */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 15px;
    z-index: 1000;
    width: 130px; /* Imposta una larghezza fissa per il menu */
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%; /* Assicura che la lista ul occupi tutta la larghezza del menu */
}

.nav-menu ul li {
    margin: 11px 0;
    width: 100%; /* Assicura che ogni elemento li occupi tutta la larghezza del menu */
}

.nav-menu ul li a {
    font-family: 'Nunito', sans-serif; /* Menu items */
    display: block; /* Trasforma l'elemento <a> in un blocco per occupare tutta la larghezza */
    width: 100%; /* Assicura che lo sfondo si estenda su tutta la larghezza del contenitore */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #5F6A74; /* Colore del testo in Grigio-blu scuro, come il titolo */
    background-color: transparent; /* Sfondo trasparente di default */
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for menu items */
.nav-menu ul li a:hover {
    background-color: #EFE2CC; /* Beige chiaro per l'hover */
    color: #5F6A74; /* Mantieni il colore Grigio-blu scuro del titolo per il testo */
}

/* Active state for clicked menu items */
.nav-menu ul li a:active {
    background-color: #B9A890; /* Taupe tenue per lo stato attivo */
    color: white; /* Testo bianco per maggiore contrasto nello stato attivo */
}

/* Show menu when burger menu is active */
.menu-toggle:checked + .burger-menu + .nav-menu {
    display: flex;
}
